<div class="card" style="width: 20rem;">
  <div class="card-body">
     
    <div class="card-title"></div>   
    <form validate [formGroup]="formulario" (ngSubmit)="cadastrarUsuario()">
      <app-input-container errorMessage="Campo obrigatório">
        <input 
          class="form-control" 
          placeholder="E-mail"
          name="email"
          autocomplete="off"
          required
          formControlName="email">
      </app-input-container>
       
      <app-input-container errorMessage="Campo obrigatório e minímo 5 caracteres">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome completo"
          required minlength="5"
          formControlName="nome_completo">  
      </app-input-container>

      <app-input-container errorMessage="Campo obrigatório e minímo 3 caracteres">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome de usuário"
          required minlength="3"
          formControlName="nome_usuario">
      </app-input-container>
      
      <app-input-container errorMessage="Campo obrigatório e minímo 6 caracteres">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
          required minlength="6"
          formControlName="senha">
      </app-input-container>
      
      <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="formulario.invalid">Cadastre-se</button>
    </form>
    <hr />

    <p class="small text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Privacidade</b>.</p>

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a href="#" (click)="exibirPainelLogin()" class="card-link">Faça login</a>
    </p> 
  </div>
</div>