<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" *ngIf="progressoStatus ==='pendente'">
    <form [formGroup]="formulario" (ngSubmit)="publicar()"> 
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Criar uma Publicação</h5>
          <button type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-label="Close"
                (click)="fecharModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="imagem"></label>
                <input type="file" 
                  class="form-control-file" id="imagem"
                  accept="image/*"
                  (change)="preparaImagemUpload($event)"
                  #imagem>
            </div>
            <div class="form-group">
                <input type="text" class="form-control"
                placeholder="Título da publicação"
                formControlName="titulo"
                >
            </div>      
        </div>
        <div class="modal-footer">
          <button type="button" 
              class="btn btn-secondary" 
              data-dismiss="modal"
              (click)="fecharModal()"    
          >Fechar</button>
          <button type="submit" class="btn btn-primary">Publicar</button>
        </div>
      </div>
  </form>
  </div>

  <div class="modal-dialog" role="document" *ngIf="progressoStatus ==='andamento'">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Publicação em Andamento</h5>
          <button type="button" 
              class="close" 
              data-dismiss="modal" 
              aria-label="Close"
              (click)="fecharModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              Progresso: {{progressoPorcentagem}}%  
        </div>
      </div>
  </div>

  <div class="modal-dialog" role="document" *ngIf="progressoStatus ==='concluído'">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Publicação Concluída</h5>
        <button type="button" 
            class="close" 
            data-dismiss="modal" 
            aria-label="Close"
            (click)="fecharModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <p> Sua publicação foi concluída com sucesso! </p> 
      </div>
    </div>
</div>

</div>