<div class="row" *ngFor="let publicacao of publicacoes">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>{{publicacao.nomeUsuario}}</strong></p>
      </div>

      <img class="card-img" [src]="publicacao.url || ''" />
      
      <div class="card-body">
        <p class="card-text">
          <strong>{{publicacao.nomeUsuario}}</strong> {{publicacao.titulo}}
        </p>

        <hr />
        <input 
          type="text" 
          class="form-control comentario"
          placeholder="Adicione um comentário..." 
        />
      </div>
    </div>
  </div>
</div>